<article *ngIf="club">
  <header><h2>Edit player</h2></header>

  <form class="form" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="club.name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="foundingYear">Founding Year</label>
          <input
            id="foundingYear"
            name="foundingYear"
            [(ngModel)]="club.foundingYear"
          />
        </div>
      </div>
    </div>

    <div class="row buttons">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
